- let title= "Speed test game";

- let mainTitle= "Typing speed test";

- let levels= ["Easy", "Medium", "Hard", "Insane"];

- let levelsClasses= ["easy", "medium", "hard", "insane"];

- let levelsLength= levels.length;